<!DOCTYPE html>
<html>

<head>
    <title>InstaPic</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="feed.css"></link>
</head>

<body>
    <div id="instapic_feed">InstaPic</div><br>
    <div id="topnav">
        <form id="search_feed" action="user_results.html">
            <input type="search" id="search_id" placeholder="Pesquisar">
            <button id="search_button">&#128269</button>
        </form>
        <div>
            <a href="feed.html">
                <img src="Imagens/home.png" id="home">
            </a>
        </div>
        <div>
            <a href="">
                <img src="Imagens/messages.png" id="message">
            </a>
        </div>
        <div>
            <a href="">
                <img src="Imagens/notifications.png" id="notification">
            </a>
        </div>
        <div>
            <a href="profile.html">
                <img src="Imagens/profile.png" id="profile">
            </a>
        </div>
        <div>
            <img src="Imagens/logout.png" id="logout">
        </div>
    </div>


    <div id="week_favorite">FAVORITOS DA SEMANA<br>
        <div><img src="" id="fav1"></div>
        <div><img src="" id="fav2"></div>
        <div><img src="" id="fav3"></div>
        <div><img src="" id="fav4"></div>
        <div><img src="" id="fav5"></div>
        <div><img src="" id="fav6"></div>
    </div>
    <div>
        <img src="" id="identification"><br>
        <div id="photos">
            <!-- <img src="" id="photos_feed"> -->
        </div>
    </div>
    <div>
        <img id="interaction_section">
    </div>

    <script type="module" src="../logout.js"></script>
    <script type="module" src="../feed.js"></script>
    <script type="module" src="../search.js"></script>

</body>

</html>