<!DOCTYPE html>
<html>

<head>
    <title>InstaPic</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="login.css"></link>
</head>

<body>

    <div id="instapic_login">InstaPic</div><br>
    <div id="login">
        <div id="sign_in">
            <div id="title">Início de sessão</div>
            <div id="new_user">Novo Utilizador?</div>
            <div id="create">
                <a href="create.html">Cria a tua conta aqui!</a>
            </div>
            <div id="form">
                <form name="sign_in" type="submit" value>
                    <input type="text" id="username" placeholder="Nome de utilizador ou email"><br>
                    <input type="password" id="password" placeholder="Palavra-passe"><br>
                    <div>
                        <button id="login_button" type="button">Iniciar</button>
                    </div>
                </form>
            </div>

            <br><br>

            <img src="Imagens/mulher.png" id="login_image">
            <img src="Imagens/iniciar.png" id="login_with">
        </div>
    </div>

    <script type="module" src="../login.js"></script>
</body>

</html>