<!DOCTYPE html>
<html>

<head>
    <title>InstaPic</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="other_profile.css"></link>
</head>

<body>

    <div id="instapic_profile">InstaPic</div><br>
    <div id="topnav">
        <form id="search_feed" action="user_results.html">
            <input type="search" id="search_id" placeholder="Pesquisar">
            <button id="search_button">&#128269</button>
        </form>
        <div>
            <a href="feed.html">
                <img src="Imagens/home.png" id="home">
            </a>
        </div>
        <div>
            <a href="">
                <img src="Imagens/messages.png" id="message">
            </a>
        </div>
        <div>
            <a href="">
                <img src="Imagens/notifications.png" id="notification">
            </a>
        </div>
        <div>
            <a href="profile.html">
                <img src="Imagens/profile.png" id="profile">
            </a>
        </div>
        <div>
            <img src="Imagens/logout.png" id="logout">
        </div>
    </div>

    <div id="profile_bio">
        <div id="profile_biography">
            <div id="username"></div><br>
            <div id="publication_count">Fotos: </div>
            <div id="following_count">Seguidores: </div>
            <div id="biography">Bio: </div>
        </div>
        <div id="follow">
            <button type="submit" id="follow_button">Seguir</button>
        </div>

        <!--Profile photos added in JavaScript-->
        <div id="profile_feed">
        </div>
    </div>

    <script type="module" src="../logout.js"></script>
    <script type="module" src="../other_profile.js"></script>
    <script type="module" src="../search.js"></script>

</body>

</html>