#instapic_feed {
    left: 478px;
    top: 27px;
    position: absolute;
    font-size: 45px;
    text-align: left;
    color: #707070;
    font-family: 'Noto Sans' sans-serif;
}

Body {
    zoom: 80%;
}

#search_id {
    width: 250px;
    height: 40px;
    left: 860px;
    top: 50px;
    position: absolute;
}

#search_button{
    width: 40px;
    height: 40px;
    left: 1070px;
    top: 50px;
    position: absolute;

}

#home {
    width: 60px;
    height: 53px;
    left: 1293px;
    top: 31px;
    position: absolute;
    cursor: pointer;
}

#message {
    width: 60px;
    height: 53px;
    position: absolute;
    left: 1365px;
    top: 31px;
    cursor: pointer;
}

#notification {
    width: 60px;
    height: 53px;
    position: absolute;
    left: 1435px;
    top: 31px;
    cursor: pointer;
}

#profile {
    width: 60px;
    height: 53px;
    position: absolute;
    left: 1505px;
    top: 31px;
    cursor: pointer;
}

#logout {
    width: 60px;
    height: 53px;
    position: absolute;
    left: 1569px;
    top: 31px;
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 300px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}